@font-face {
    font-family: 'Monoid Normal';
    font-style: normal;
    font-weight: normal;
    src: local('Monoid Normal'), url('Monoid.woff') format('woff');
}

body {
    background-color: #222222;
    color: #f5f5f5;
    font-size: 16px;
    font-family: 'Monoid Normal';
    text-align: center;
}

h1 {
    font-size: 3em;
    font-weight: bold;
    margin-top: 0.5em;
}

#container {
    width: 700px;
    height: 700px;
    border: solid #f5f5f5 3px;
    
    position: absolute;
    left: 50%;
    top: 50%;

    margin: -350px 0 0 -350px;
    /* if of unknown width and height, replace margins with this */
    /* transform: translate(-50%, -50%); */


}